.custom_descriptions {
    padding: 30px;
}

.custome_item_description {
    flex: 1;
    max-width: 50px;
}

.step_input_value > div {
    margin-bottom: 10px;
}

.custom_description_resetFeeVos .ant-descriptions-row .ant-descriptions-item-label {
    font-family: Freeman!important;
    font-size: 16px;
    background-color: #e0aed0 !important;
}

.custom_description_resetFeeVos .ant-descriptions-row .ant-descriptions-item-content {
    background-color: #ffe5e5 !important;
}
