.logged_background {
    font-family: "Raleway", sans-serif;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.side_bar_btn {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}

.content_background {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10vh;
    place-content: center;
}
