.side_bar_btn {
    transition: all 0.3s ease;
}

.side_bar_btn:hover {
    transform: translateY(-50%) scale(1.05);
}

.content_background {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10vh;
    place-content: center;
}
